<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Your Booking has been Confirmed! </h1> <br>
  <div>Booking Number: <%= @booking.id %> </div>
  <div>Flight Number: <%= @booking.flights.first.id %></div>
  <div>Thanks for booking <%= @passenger.name %></div>
  <div>See your booking here: <%= @url%></div>
</body>
</html>