<div>
  <%= render 'search_form' %>

  <div>
    <% if @booking_options %>
      <p>Available Flights:</p>
      <%= render 'results' %>
    <% else %>
      <p>No Available Flights</p>
    <% end %>
  </div>
</div>

