<div class="grid grid-rows-2 border-black border-solid border-2 rounded px-2 p-4 w-3/5 gap-16 bg-white">
  <%= render 'search_form' %>

  <div class="flex">
    <% if @booking_options %>
      <div class="grid flex-grow">
        <%= render 'results' %>
      </div>
    <% else %>
      <h2 class="self-center text-center grow text-4xl">No Available Flights</h2>
    <% end %>
  </div>
</div>

