<div class="grid grid-rows-2 border-black border-solid border-2 rounded px-2">
  <%= render 'search_form' %>

  <div class="flex">
    <% if @booking_options %>
      <div class="grid">
        <%= render 'results' %>
      </div>
    <% else %>
      <h2 class="self-center text-center grow text-4xl">No Available Flights</h2>
    <% end %>
  </div>
</div>

