<div class="flights-container">
  <%= render 'search_form' %>

  <div class="search-results">
    <% if @booking_options %>
      <p class="sub-title">Available Flights:</p>
      <%= render 'results' %>
    <% else %>
      <p class="sub-title">No Available Flights</p>
    <% end %>
  </div>
</div>

