<div>
  <h1>
    <%= pluralize(@flights.count, "Flight")%>
  </h1>

  <% @flights.each do |flight|%>
    <%= render 'summary', flight: flight %>
  <% end %>

  <h1>Add Passenger</h1>
  <%= render 'form' %>
</div>