<div>
  <h1>
    <h2>
      <%= pluralize(@booking.passengers.count, "Passenger") %>
    </h2>
  </h1>

  <div>
    <% @booking.passengers.each do |passenger| %>
      <p>
        <%= passenger.name %>
      </p>
    <% end %>
  </div>
</div>

<div>
  <div>
    <p>
      <%= pluralize(@booking.flights.distinct.count, "Flight") %>:
    </p>
  </div>
  <div>
    <% @booking.flights.distinct.each do |flight| %>
      <%= render 'summary', flight: flight  %>
    <% end %>
  </div>
</div>