<div class="booking-section">
  <h1 class="booking-title">
    <h2 class="subtitle">
      <%= pluralize(@booking.passengers.count, "Passenger") %>
    </h2>
  </h1>

  <div class="booking-summary">
    <% @booking.passengers.each do |passenger| %>
      <p>
        <%= passenger.name %>
      </p>
    <% end %>
  </div>
</div>

<div class="booking-secti0n">
  <div class="booking-title">
    <p class="subtitle">
      <%= pluralize(@booking.flights.distinct.count, "Flight") %>:
    </p>
  </div>
  <div class="bookingsummary">
    <% @booking.flights.distinct.each do |flight| %>
      <%= render partial: 'summary', locals: { flight: flight } %>
    <% end %>
  </div>
</div>