<div class="flex flex-col border-black border-solid border-2 rounded px-2 p-4 bg-white">
  <div>
    <% @booking.flights.distinct.each do |flight| %>
      <%= render 'summary', flight: flight  %>
    <% end %>
  </div>
  <div> 
    <br>
    <h2 class="self-center text-center grow text-3xl">
      <%= pluralize(@booking.passengers.count, "Passenger(s):") %>
    </h2>
    <div>
      <ul>
      <% @booking.passengers.each do |passenger| %>
        <li class="text-2xl">
          <div class="flex justify-between">
            <%= passenger.name %>: 
            <%= passenger.email %>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>